@tailwind base;
@tailwind components;
@tailwind utilities;

/* 移动端适配 */
* {
  box-sizing: border-box;
}

html, body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

input, button, textarea {
  -webkit-appearance: none;
  appearance: none;
}